h1{
	color:pink;
	font-size:30pt;
	font-family: ABYS;
}
h2{
	color:green;
	font-size:30pt;
	font-family: milka soft;
}
h3{
	color:orange;
	font-size:100pt;
	font-family: 'Permanent Marker', cursive;
}
h4{
	color:red;
	font-size:100pt;
	font-family: 'Hi Melody', cursive;
}
h5{
	color:blue;
	font-size:100pt;
	font-family: 'Hi Melody', cursive;
}
h6{
	color:purple;
	font-size:100pt;
	font-family: 'Hi Melody', cursive;
}
div{
	color:white;
	font-size:100pt;
	font-family: 'Hi Melody', cursive;
}
#peter{
	color:yellow;
	font-size:50pt;
	font-family: ABYS;
}
.mike{color:red;}

#justin{
	position:fixed;
	width: 100vw;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
	top:0;

}

#moving-div1{
	position:relative;
	width: 30vw;
	height: 40px;
	left:30vw;

}
#cb{
	position:static;
	width: 300px;
	height: 300px;
	background-color: rgba(156,184,180,0.5);
	left:1000px;
	top:100px;

}

#sb{
	position:fixed;
	width: 300px;
	height: 300px;
	background-color: rgba(18,53,85,0.5);
	left:1300px;
	top:0px;

}
#lb{
	position:absolute;
	width: 300px;
	height: 300px;
	background-color: rgba(227,119,120,0.5);
	left:50px;
	top:100px;


}
#jb{
	position:relative;
	width: 300px;
	height: 300px;
	background-color: rgba(138,72,82,0.5);
	left:50px;
	top:150px;
	transition:width 2s ease-in;

}
#jb:hover {width:300px;

}
#translate{
	width:300px;
	height:100px;
	backgroud-color:yellow;
	border:1px solid black;
}
#translate


















